.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-pic-wrapper {
  position: relative;
  width: 8rem;
  height: 8rem;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding-right: 4rem;
}

.profile-text > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile-text > div span:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-links a {
  font-size: 1.5rem;
}

.profile-pic {
  border-radius: 50%;
}
