.projectCard {
  position: relative;
  height: fit-content;
  padding: 2rem;
  box-sizing: border-box;
  border: none;
  display: grid;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow: hidden;
}

.projectCardDeprecated {
  background-color: rgba(0, 0, 0, 0.1);
}

.projectCardLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCardTitle {
  font-size: 1.8rem;
}

.projectCardDate {
  font-size: 0.8rem;
}

.projectCardDescription {
  align-self: center;
}

.projectDetail {
  padding-top: 1rem;
}

.projectDetail li:not(:last-child) {
  padding-bottom: 1rem;
}

.projectDetail a {
  font-weight: bold;
}

.projectCardTail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillListUl {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.skillListItem {
  display: flex;
  align-items: center;
  width: fit-content;
}

.projectLinksWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projectCardAnnouncement {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
}

.projectLinks {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.projectLinks a {
}

.projectLinksGithub {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.githubIcon {
  font-size: 1.5rem;
}

.githubIconText {
  font-size: 0.7rem;
}
