.projects {
  box-sizing: border-box;
}

.projectsCardUl {
  margin-top: 2.5rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.projectsCardLi {
  width: 100%;
  height: 100%;
}
