.skills {
}

.skills > ul li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.skills > ul li > ul {
  margin-top: 0.8rem;
}

.skills a {
  font-weight: 500;
}

.skills-title span {
  font-size: 1rem;
}

.skills li {
  line-height: 1.7;
}

.skills-large-classification {
  box-sizing: border-box;
  padding: 1rem;
}

.skills-middle-classification {
  box-sizing: border-box;
  padding: 1rem;
}

.skills-middle-classification > ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.html-css li {
  list-style: disc;
}

.skills-small-classification li {
  list-style: disc;
}

.skills-small-classification > ul {
  margin-top: 1.5rem;
}

.underline-emphasis {
  text-decoration: underline;
}

.framework li {
  list-style: disc;
}

.udemy {
  list-style: none;
}
