.skills {
  border: 0.1rem solid grey;
}

.skills li {
  line-height: 1.7;
}

.skills-large-classification {
  box-sizing: border-box;
  padding: 1rem;
}

.skills-middle-classification {
  box-sizing: border-box;
  padding: 1rem;
}

.skills-middle-classification > ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.html-css li {
  list-style: disc;
}

.skills-small-classification li {
  list-style: disc;
}

.skills-small-classification > ul {
  margin-top: 1.5rem;
}

.underline-emphasis {
  text-decoration: underline;
}

.framework li {
  list-style: disc;
}

.ttattogat-link {
  display: inline;
  margin-left: 0.5rem;
}

.ttattogat-link a {
  color: blue;
  margin-left: 0.5rem;
}
